<mat-card class="my-card">
  <div class="table-responsive">
      <table class="table table-hover table-sm">
        <thead class="thead-dark">
          <tr>
              <th scope="col">Card Owner</th>
              <th scope="col">Card Number</th>
              <th scope="col">Expirary Date</th>
              <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pd of service.list">
              <td (click)="populateForm(pd)">{{pd.cardOwner}}</td>
              <td (click)="populateForm(pd)">{{pd.cardNumber}}</td>
              <td (click)="populateForm(pd)">{{pd.expDate}}</td>
              <td><fa-icon [icon]="faTrash" style="color:red" (click)="onDelete(pd.id)"></fa-icon> </td>
            </tr>
        </tbody>
      </table>
  </div>
</mat-card>
<!-- <ag-grid-angular
  style="width: 100%; height: 100%;"
  class="ag-theme-balham"
  [rowData]="service.list"
  [columnDefs]="columnDefs"
  >

</ag-grid-angular> -->

